/* Empty. Add your own CSS if you like */
.list .item {
	padding: 10;
}

.placenumber {
	font-size: 150%;
	margin: 0 auto;
	text-align: center;
}
.placetext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.fancy-select {
width: 100%;
}

.buttons select {
  z-index:1; 
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.buttons select option {
  color: black;
}

.clubname {
	position: absolute;
	top: 5px;
	left: 15px;	

}
.position{
  margin:auto;
  min-width: 30px;
  font-size: 150%;
  text-align: center;
  }
.name {
  min-width: 150px;
  border-left: 1px solid lightgray;
  text-align: left;
  padding:10px;
  font-size: 80%

}
.splittime { 
  min-width: 75px; 
  border-left: 1px solid lightgray;
  padding:10px;
  text-align: center;
  font-size: 80%;
}
.row {
}
